/** ==  Import ===  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/** ==  Root  ===  */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --main-color: #be9c79;
  --light-color: #666;
  --border: 0.1rem solid var(--clr-black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --font-family-cursive: "Lobster", cursive;
}
/** ==  General Design ===  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 2.4rem;
}
body {
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/** === General Project === */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}
section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1.5rem 2rem;
}
.navBar {
  width: 40rem;
  margin: 0 auto;
}
.navBar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.navLink {
  font-size: 1.6rem;
  font-weight: 600;
  color: #be9c79;
}
.navLink:hover {
  font-weight: 600;
  color: #be9c79;
  opacity: 0.5;
}
.navLink:hover:after {
  content: " ";
  display: flex;
  width: 100%;
  outline: 2px solid #be9c79;
  border-radius: 1rem;
  margin-top: 0.5rem;
  animation: xMen 0.2s 0.2s ease-in-out forwards;
}
@keyframes xMen {
  0% {
    transform: scaleX(0%);
  }
  100% {
    transform: scaleX(100%);
  }
}
.navLink:active {
  font-weight: 900;
  color: #333;
}
.logo {
  width: 3.5rem;
  height: 3.5rem;
}
.logoImg {
  /* width: 2.5rem;
  height: 2.5rem; */
  object-fit: cover;
}
.menu-btn {
  font-size: 1.8rem;
  cursor: pointer;
  outline: 4px solid #be9c79;
  border-radius: 10%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn:active {
  transform: scale(0.9rem);
}

/** == HOME*/
.home__bg {
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      hsl(30deg 35% 61%)
    ),
    url(./src/assets/image/cof4.jpg);
}
.home__bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.content {
  width: 70%;
  padding: 10px;
}
.content-title {
  font-family: var(--font-family-cursive);
}
.home__bg .home {
  min-height: 70rem;
  display: flex;
  align-items: center;
}
.btn {
  padding: 1rem;
  cursor: pointer;
  color: #be9c79;
}
.btn:hover {
  background-color: #000;
  color: #be9c79;
}

/*?  === About === */
.about {
  width: 100%;
  display: grid;
  margin: 0 auto;
}

/*? == Felicity == */
.felicity {
  width: 100%;
  margin: 2rem auto;
  display: grid;
}
.heading {
  width: 100%;
  margin: 1rem auto;
}
.box__container {
  width: 100%;
  margin: 1rem auto;
}

/*? === Menu === */
.menu {
  width: 100%;
  display: grid;
  margin: 2rem auto;
}

/** ========  ======= ========= Media Queries =========== =========== ========= */
@media (max-width: 450px) {
}
@media (max-width: 600px) {
  .content {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-title {
    font-size: 4.5rem;
  }
  .content-text {
    letter-spacing: 0.2rem;
  }
  .content .btn {
    padding: 2rem;
  }
  .about {
  }
}
@media (max-width: 768px) {
  #menuBtn {
    display: inline-block;
  }
  #btnBar {
    transition: 0.2s linear;
    cursor: pointer;
  }
  #btnBar:active {
    transform: scale(0.9);
  }
  #btnBar.fa-times {
    transform: rotate(180deg);
  }
  .header .flex .navBar {
    position: absolute;
    top: 99%;
    left: 0%;
    right: 0%;
    background-color: #fff;
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 1%, 100% 1%, 0 0);
    transition: 0.2s linear;
  }
  .header .flex .navBar.active {
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }
  .header .flex .navBar .navList {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30rem;
  }
  .navLink:hover {
    color: #be9c79;
    opacity: 0.5;
  }
  .navLink::after {
    display: none;
  }
  .navList .navLink {
    text-transform: uppercase;
  }
  .content-title {
    font-size: 30px;
    padding: 10px;
    font-weight: 900;
    text-align: left;
  }
  .content-text {
    font-size: 12px;
    padding: 10px;
    font-weight: 400;
    color: hsl(0deg 0% 20%);
    text-align: left;
  }
  .btn {
    padding: 10px;
    width: 150px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  .about {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .image {
    width: 100%;
  }
  .about .content {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .about .content .content-title {
    text-align: center;
  }
  .about .content .content-text {
    width: 90%;
    text-align: center;
    font-weight: 400;
    color: #000;
    opacity: 0.6;
  }
  .about .content .btn {
    padding: 2rem;
  }
  .felicity .heading {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .heading img {
    padding: 1rem;
    margin: 0 auto;
    width: 75%;
  }
  .heading h2 {
    padding: 1rem;
    margin: 1rem auto;
    font-size: 4rem;
    font-family: var(--font-family-cursive);
  }
  .felicity .box__container {
    flex-direction: column;
  }
  .box__container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
  }
  .box__container .box img {
    width: 50%;
  }
  .box h2 {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
  }
  .box p {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #333;
    opacity: 0.6;
    font-weight: 400;
  }

  .menu .heading {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .menu .box__menu {
    flex-direction: column;
  }
  .menu .menuPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
  }
  .menuPlus .menuImg {
    width: 50%;
    margin: 0 auto;
  }
  .menuPlus .menuTitle {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
  }
}

@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }
  .content {
    padding: 1rem;
  }
  .content-title {
    font-size: 5rem;
    font-weight: 900;
    margin: 0 auto;
    text-align: left;
  }
  .content-text {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0 auto;
    font-weight: 500;
    color: #333;
  }
  .content .btn {
    padding: 2rem;
    width: 15rem;
    margin: 2rem auto;
    border: none;
    outline: none;
    border-radius: 0.5rem;
  }
  .content .btn:active {
    transform: scale(0.9);
  }
  .content .btn a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
  }
  .about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .about .image {
    width: 100%;
  }
  .image img {
    object-fit: contain;
  }
  .about .content {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .content .content-title {
    text-align: center;
  }
  .about .content .content-text {
    text-align: left;
  }
  .felicity .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .felicity .heading img {
    width: 50%;
    padding: 1rem;
    margin: 1rem auto;
  }
  .felicity .heading h2 {
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 auto;
  }
  .felicity .box__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
  }
  .box__container .box h2 {
    text-align: left;
    padding: 1rem;
    font-size: 1.8rem;
  }
  .box__container .box p {
    padding: 1rem;
    text-align: left;
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
    opacity: 0.6;
  }
}

@media (min-width: 1024px) {
  .navLink {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .content-title {
    font-size: 7rem;
    padding: 10px;
    font-weight: 900;
  }
  .content-text {
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    color: hsl(0deg 0% 20%);
  }
  .btn {
    padding: 10px;
    width: 150px;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
  .menu-btn {
    display: none;
  }
  .navBar {
    width: 50rem;
  }
  .navLink {
    font-size: 2rem;
    font-weight: 700;
  }
}
