/** ==  Import ===  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap");
/** ==  Root  ===  */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --main-color: #be9c79;
  --light-color: #666;
  --border: 0.1rem solid var(--clr-black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
/** ==  General Design ===  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
p,
span {
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 2.4rem;
}
body {
  font-family: "Montserrat", sans-serif;
}

/** === General Project === */
.logo {
  width: 3rem;
  height: 3rem;
}
.logoImg {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
